 @import "tailwindcss";
 

 body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 }
html {
   scroll-behavior: smooth;
}
 :root {
    --background: #ffffff4d;
    --foreground: #171717;
    --gray: #a1a3a8;
    --black: #26272c;
    --purple: #5f0df8;
    --neutral: #26272c;
    --yellow: #d5a107;
    --purple-200: #9994ff;
    --purple-300: #acaaff;
    --purple-400: #d4d5ff;
    --natural: #f5f6f7;
    --yellow-200: #e8bf6b;
    --yellow-300: #f2d49c;
    --yellow-400: #f7dfb4;
    --yellow-500: #d5a107;
    --gray-200: #eaebed;
    --gray-300: #c3c4c7;
 }